[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
gunicorn = "*"
whitenoise = "*"
numpy = "*"
tensorflow = "*"
opencv-python-headless = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
