{% load static %}
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="{% static 'dist/css/tabler.css' %}" rel="stylesheet" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static 'dist/libs/tom-select/dist/css/tom-select.bootstrap5.min.css' %}" rel="stylesheet" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN PLUGINS STYLES -->
<link href="{% static 'dist/css/tabler-flags.css' %}" rel="stylesheet" />
<link href="{% static 'dist/css/tabler-socials.css' %}" rel="stylesheet" />
<link href="{% static 'dist/css/tabler-payments.css' %}" rel="stylesheet" />
<link href="{% static 'dist/css/tabler-vendors.css' %}" rel="stylesheet" />
<link href="{% static 'dist/css/tabler-marketing.css' %}" rel="stylesheet" />
<link href="{% static 'dist/css/tabler-themes.css' %}" rel="stylesheet" />
<!-- END PLUGINS STYLES -->
<!-- BEGIN DEMO STYLES -->
<link href="{% static 'preview/css/demo.css' %}" rel="stylesheet" />
<!-- END DEMO STYLES -->
<!-- BEGIN CUSTOM FONT -->
<style>
    @import url("https://rsms.me/inter/inter.css");
</style>
<!-- END CUSTOM FONT -->
<!-- BEGIN TABLER ICONS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
<!-- END TABLER ICONS -->
<!-- BEGIN MY CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- END MY CSS -->
<!-- BEGIN FAVICON -->
<link rel="shortcut icon" href="{% static 'dist/img/favicon.ico' %}" type="image/x-icon">
<!-- END FAVICON -->


